
.navbar.navbar-fixed-top
  %nav.navbar-inner
    .container(ng-controller="HeaderCtrl")
      %a.btn.btn-navbar{data: {toggle: "collapse", target: ".nav-collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Hanza", "/#/", :class => 'brand'
      .nav-collapse.collapse
        %ul.nav
          %li{"ng-class"=>"{active: isActive('/') || isActive('/home')}"}
            = link_to "/#/" do
              %i.icon-home
              Home
          %li{"ng-class"=>"{active: isActive('/environments')}"}
            = link_to "/#/environments" do
              Environments
          -#%li{"ng-class"=>"{active: isActive('/movies')}"}
          -#  = link_to "/#/movies" do
          -#    %i.icon-film
          -#    Movies
          -#%li{"ng-class"=>"{active: isActive('/downloads')}"}
          -#  = link_to "/#/downloads" do
          -#    %i.icon-download-alt
          -#    Downloads

